
@page
@model WebsiteApp.Pages.OrderDetailsModel
@{
    <h1>Thank you för att du handlar Fesk AB!</h1>
}
    <p>Tack för din beställning!</p>

<!-- @foreach (var item in Model.CartItems)
{
        <p>@item.Product.Name - Antal: @item.Quantity - Pris per styck: @item.Product.Price</p>
}
        <p>@Model.TotalPrice kr</p> -->

 <table>
   <thead>
    <tr>
      <th scope="col">Product</th>
        <th scope="col">Image</th>
      <th scope="col">Ammount</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>

            @foreach(var item in Model.CartItems)
            {
                <tr>
                    <th scope="row">@item.Product.Name</th>
                    <td> <img class ="CartImage"src ="images/@item.Product.ImagePath"/></td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price kr</td>
                </tr>
            }
  </tbody>
  <tfoot>
    <tr>
                <th scope="row" colspan="3">Total Price:</th>
                <td> @Model.TotalPrice kr</td>

    </tr>
  </tfoot>
</table>
<form method="post" asp-page-handler="RemoveAllItems">
    <button id="return-home-btn" type="submit">Return to MainPage</button>
</form>