@page
@model WebsiteApp.Pages.ProductDetailsModel
@{
    ViewData["Title"] = "Product Details";
}

@if (Model.Product != null)
{
    <h1 class="h1-style">@Model.Product.Name</h1>
    @if (!string.IsNullOrEmpty(Model.Product.ImagePath))
    {
        <img class="productDetails-img" src="~/images/@Model.Product.ImagePath" alt="@Model.Product.Name">
    }
    else
    {
        <p>No image available</p>
    }
   

   <span id="itemDescription"> <p>Beskrivning: @Model.Product.Description</p>
        <p>Kategori: @Model.Product.Category</p>
    </span>
   
    <form method="post" asp-page-handler="AddItemToCart">
        <input type="hidden" name="ProductId" value="@Model.Product.ID" />
        <button class="productDetails-box-button" type="submit">Lägg i kundvagn - @Model.Product.Price kr</button>
    </form>

}
else
{
    <p>Product not found.</p>
}
